{% extends 'base.html' %}

{% block content %}
<h1>글 세부 페이지</h1>
<hr>
<h3>제목</h3>
{{article.title}}
<hr>
<h3>작성자</h3>
{{article.writer}}
<hr>
<h3>내용</h3>
{{article.content}}
<hr>
<h3>해시태그</h3>
<form action="{% url 'tag' article.pk %}" method="POST">
{% csrf_token %}
  <input type="text" name="tag" placeholder="태그입력">
  <button type="submit">등록하기</button>
</form>
{% for tag in tags %}

<span><strong>#{{tag.name}}</strong></span>
{% endfor %}
<hr>
<a href="{% url 'article_list' article.category.pk %}">뒤로가기</a><br>

{% if article.writer == request.user %}
<a href="">수정하기</a>
<a href="">삭제하기</a>
{% endif %}

{% endblock content %}